&pmi8994_flash0 {
	qcom,current = <400>;
};

&eeprom0 {
	cam_vana-supply = <&pm8994_l29>;
	qcom,cam-vreg-name = "cam_vdig", "cam_vio", "cam_vana", "cam_vaf";
	qcom,cam-vreg-min-voltage = <1300000 0 2800000 2800000>;
	qcom,cam-vreg-max-voltage = <1300000 0 2800000 2800000>;
	qcom,cam-vreg-op-mode = <105000 0 100000 100000>;
	gpios = <&tlmm 13 0>, <&tlmm 30 0>;
	qcom,gpio-req-tbl-num = <0 1>;
	qcom,gpio-req-tbl-flags = <1 0>;
	qcom,gpio-req-tbl-label = "CAMIF_MCLK0", "CAM_RESET0";
	/delete-property/ qcom,gpio-standby;
	/delete-property/ qcom,clock-rates;
};

&cci {
	qcom,camera@0 {
        cam_vana-supply = <&pm8994_l29>;
		qcom,cam-vreg-min-voltage = <1300000 0 2800000>;
		qcom,cam-vreg-max-voltage = <1300000 0 2800000>;
		qcom,cam-vreg-op-mode = <105000 0 100000>;
		gpios = <&tlmm 13 0>,
			<&tlmm 30 0>,
			<&tlmm 27 0>;
		qcom,gpio-vdig = <2>;
		qcom,gpio-req-tbl-label = "CAMIF_MCLK0", "CAM_RESET0", "CAM_VIDG0";
		/delete-property/ qcom,gpio-standby;
		/delete-property/ qcom,clock-rates;
	};
};

&ois0 {
	cam_vaf-supply = <&pm8994_l21>;
};
